<div>
    <div class="font-l text-center space l top">Welcome</div>
    <div class="menu-wrapper text-center">
        <div class="menu-box font-m light-blue-a700" ng-click="$navigation.go('/projects')">
            <div class="space l top">
                <span class="text-space l top">Projects</span>
                <span class="space m top icon-device-desktop icon-l"></span>
            </div>
        </div>
        <div class="menu-box font-m deep-purple-a400" ng-click="$navigation.go('/blog')">
            <div class="space l top">
                <span class="text-space l top">Blog</span>
                <span class="space m top icon-talk-chat-2 icon-l"></span>
            </div>
        </div>
        <div class="menu-box font-m green-700" ng-click="$navigation.go('/about')">
            <div class="space l top">
                <span class="text-space l top">About</span>
                <span class="space m top icon-user-1 icon-l"></span>
            </div>
        </div>
    </div>
</div>