/*Colors*/
.menu-wrapper {
  margin-top: -125px;
  padding: 50px 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  font-size: 0;
}
.menu-box {
  margin: 5px;
  width: 33%;
  max-width: 300px;
  height: 200px;
  text-align: center;
  color: #ffffff;
  display: inline-block;
  white-space: nowrap;
  border-right: none;
  cursor: pointer;
}
.menu-box:hover {
  color: #c5e9ff;
}
@media (max-height: 530px) {
  .menu-wrapper {
    margin-top: -10px;
    padding: 10px 10px;
  }
  .menu-box {
    height: 50px;
    border: none;
  }
  .menu-box div {
    margin-top: 5px !important;
  }
  .menu-box:last-child {
    border-right: none;
  }
}
