<div>
    <div class="font-l text-center space l top">My Drafts</div>
    <div class="text-space l all">
        <ul class="draft-list">
            <li class="draft-list-item font-s" ng-repeat="draft in blogPostDrafts">
                <div class="space m bottom">{{draft.title}}</div>
                <div class="last-saved font-xs">{{moment(draft.lastSaved).format("DD MM YYYY, h:mm a")}}</div>
                <span ng-click="deleteBlogPostDraft(draft)" class="delete icon-s icon-trash"></span>
            </li>
        </ul>
    </div>
</div>