@import "../../css/site.colors.less";

@color1:#78818a;
@color2:#75b749;
@color3:#f27b53;
@color4:#0eadd4;
@color5:#9e4b9d;

.projects-list{
    color: @white;
    text-align: center;
    padding-top: 30px;

    .project-item{
        margin: 5px;
        width: 150px;
        height: 150px;
        text-align: center;
        cursor: pointer;
        padding: 5px;
        display: inline-block;
        &:hover{
            color: @lighter-blue!important;
        }
    }
}