/*Colors*/
/*Full Color Palette*/
.red-50 {
  color: #000000;
  background: #FFEBEE;
}
.red-100 {
  color: #000000;
  background: #FFCDD2;
}
.red-200 {
  color: #000000;
  background: #EF9A9A;
}
.red-300 {
  color: #000000;
  background: #E57373;
}
.red-400 {
  color: #000000;
  background: #EF5350;
}
.red-500 {
  color: #ffffff;
  background: #F44336;
}
.red-600 {
  color: #ffffff;
  background: #E53935;
}
.red-700 {
  color: #ffffff;
  background: #D32F2F;
}
.red-800 {
  color: #ffffff;
  background: #C62828;
}
.red-900 {
  color: #ffffff;
  background: #B71C1C;
}
.pink-50 {
  background-color: #fce4ec;
}
.pink-100 {
  background-color: #f8bbd0;
}
.pink-200 {
  background-color: #f48fb1;
}
.pink-300 {
  background-color: #f06292;
}
.pink-400 {
  background-color: #ec407a;
}
.pink-500 {
  background-color: #e91e63;
}
.pink-600 {
  background-color: #d81b60;
}
.pink-700 {
  background-color: #c2185b;
}
.pink-800 {
  background-color: #ad1457;
}
.pink-900 {
  background-color: #880e4f;
}
.purple-50 {
  background-color: #f3e5f5;
}
.purple-100 {
  background-color: #e1bee7;
}
.purple-200 {
  background-color: #ce93d8;
}
.purple-300 {
  background-color: #ba68c8;
}
.purple-400 {
  background-color: #ab47bc;
}
.purple-500 {
  background-color: #9c27b0;
}
.purple-600 {
  background-color: #8e24aa;
}
.purple-700 {
  background-color: #7b1fa2;
}
.purple-800 {
  background-color: #6a1b9a;
}
.purple-900 {
  background-color: #4a148c;
}
.projects-list {
  color: #ffffff;
  text-align: center;
  font-size: 0;
}
.projects-list .project-item {
  margin: 5px;
  width: 300px;
  height: 200px;
  text-align: center;
  cursor: default;
  padding: 5px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.projects-list .project-item .description {
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.05rem;
}
.projects-list .project-item:hover .nav-bar {
  -webkit-animation: 0.3s open-animation;
  animation: 0.3s open-animation;
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards;
}
.projects-list .project-item .nav-bar {
  position: absolute;
  background: #404040;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  opacity: 0.8;
  -webkit-animation: 0.3s close-animation;
  animation: 0.3s close-animation;
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards;
}
@keyframes open-animation {
  from {
    height: 0;
    line-height: 0;
    opacity: 0;
  }
  to {
    height: 40px;
    line-height: 40px;
    opacity: 0.8;
  }
}
@-webkit-keyframes open-animation {
  from {
    height: 0;
    line-height: 0;
    opacity: 0;
  }
  to {
    opacity: 0.8;
    height: 40px;
    line-height: 40px;
  }
}
@keyframes close-animation {
  from {
    height: 40px;
    line-height: 40px;
    opacity: 0.8;
  }
  to {
    height: 0;
    line-height: 0;
    opacity: 0;
  }
}
@-webkit-keyframes close-animation {
  from {
    height: 40px;
    line-height: 40px;
    opacity: 0.8;
  }
  to {
    height: 0;
    line-height: 0;
    opacity: 0;
  }
}
.projects-list .project-item .demo-link {
  position: relative;
  cursor: pointer;
}
.projects-list .line-break {
  display: none;
}
@media screen and (max-width: 1280px) {
  .projects-list .line-break:nth-child(4) {
    display: inline-block;
  }
}
.icon-git {
  display: inline-block;
  background: url("../../images/GitHub-32X32-Light.png") no-repeat;
  width: 32px;
  height: 32px;
}
