@import "../../css/site.colors.less";

.blog-list {
    text-align: center;
    font-size: 0;

    .blog-entry-group {
        margin: 10px;
        width: 140px;
        height: 140px;
        text-align: center;
        cursor: default;
        padding: 5px;
        display: inline-block;
        position: relative;
        vertical-align: top;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;

        .blog-entry {
            color: @white;
            background: #7B8C94;
            border: 1px solid #676767;
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-transition: -webkit-transform 1s;  /* For Safari 3.1 to 6.0 */
            transition: transform 1s;
            .created{
                position: absolute;
                right: 5px;
                bottom: 5px;
                font-style: italic;
                color: @white;
            }
        }
    }

    .line-break {
        display: none;
    }
}

.blog-content{
    background: #c4c4c4;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    max-width: 800px;
    text-align: justify;
    text-justify: inter-word;
}

@media screen and (max-width: 1280px) {
    .blog-list {
        .line-break:nth-child(4) {
            display: inline-block;
        }
    }
}