<div>
    <div class="icon-back" ng-click="$navigation.go('/home')"
         style="position: absolute;margin-left: 30px;margin-top: 10px;"></div>
    <div class="font-l text-center space l top">Blog</div>

    <div class="blog-list space xl top">
        <div ng-repeat-start="postGroup in blogPostGroups" class="blog-entry-group font-s" element-leave="postGroup.selected"
             ng-click="selectGroup(postGroup)" ng-style="{ opacity: !postGroup.selected && hasSelected() ? 0.5 : 1 }">
            <div ng-repeat="post in postGroup" class="blog-entry light-blue-a700"
                 ng-style="blogPostTileStyle($index, postGroup)" ng-click="showBlogPost(post, postGroup)">
                <div class="space top m">
                    {{post.title}}
                </div>
                <div class="created">
                    {{post.created.format('L')}}
                </div>
            </div>
        </div>
        <br ng-repeat-end="" class="line-break"/>
    </div>
</div>