/*Colors*/
body {
  margin: 0;
  background: #E2E2E2;
  color: #000000;
  /* visited link */
  /* mouse over link */
  /* selected link */
}
body a:link {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}
body a:visited {
  color: #ffffff;
}
body a:hover {
  color: #C5C5C5;
}
body a:active {
  color: #ffffff;
}
.dark {
  /* visited link */
  /* mouse over link */
  /* selected link */
}
.dark a:link {
  cursor: pointer;
  text-decoration: none;
  color: #060d1e !important;
}
.dark a:visited {
  color: #060d1e !important;
}
.dark a:hover {
  color: #adb1b6 !important;
}
.dark a:active {
  color: #060d1e !important;
}
.header {
  height: 30px;
  line-height: 30px;
  background: #2f323a;
  color: #ffffff;
  border-bottom: 1px solid #38a1d2;
}
.header .user-info {
  line-height: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  text-align: center;
  background: #2f323a;
}
.icon-back {
  display: inline-block;
  background: url("../images/back_48X48.png") no-repeat;
  width: 48px;
  height: 48px;
}
.icon-loading32 {
  display: inline-block;
  background: url("../images/loading_32X34.GIF") no-repeat;
  width: 32px;
  height: 34px;
}
.icon-loading48 {
  display: inline-block;
  background: url("../images/loading_48X51.GIF") no-repeat;
  width: 48px;
  height: 51px;
}
.view-container {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 100px;
  overflow: auto;
}
.view-animation.ng-enter,
.view-animation.ng-leave {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.view-animation.ng-enter {
  -webkit-animation: 0.3s view-animation-enter;
  animation: 0.3s view-animation-enter;
}
.view-animation.ng-leave {
  -webkit-animation: 0.3s view-animation-leave;
  animation: 0.3s view-animation-leave;
}
@keyframes view-animation-enter {
  from {
    z-index: 100;
    right: -3000px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes view-animation-leave {
  from {
    z-index: 101;
    left: 0;
  }
  to {
    left: -3000px;
  }
}
@-webkit-keyframes view-animation-enter {
  from {
    z-index: 100;
    right: -3000px;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes view-animation-leave {
  from {
    z-index: 101;
    left: 0;
  }
  to {
    left: -3000px;
  }
}
.dropdown {
  position: absolute;
  background: #DADADA;
  border: 1px solid #38a1d2;
  list-style-type: none;
  text-align: center;
  padding: 10px 5px;
  margin: 10px 0 0 0;
  right: 0;
  min-width: 150px;
  color: #000000;
  box-shadow: 0px 0px 2px #38a1d2;
  z-index: 100;
}
.dropdown:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 14.0px 11px 14.0px;
  border-color: transparent transparent #38a1d2 transparent;
  top: -11px;
  right: 8px;
}
.dropdown:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12.5px 10px 12.5px;
  border-color: transparent transparent #DADADA transparent;
  top: -10px;
  right: 10px;
}
.dropdown .dropdown-item {
  position: relative;
  padding: 5px;
  cursor: pointer;
}
.dropdown .dropdown-item:hover {
  background: #C7C7C7;
}
