.title-input-wrapper {
  background: rgba(69, 90, 100, 0.42) !important;
  max-width: 600px;
  display: inline-block;
  width: 100%;
}
.title-input-wrapper .title-input {
  border: none;
  background: transparent;
  color: #fff;
  width: 100%;
}
.text-editor-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}
.text-editor-wrapper .form-control {
  background: rgba(69, 90, 100, 0.42);
}
.text-editor-wrapper .btn-group {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
.text-editor-wrapper .btn-group .btn {
  padding: 10px 0;
  min-width: 35px;
  background: rgba(101, 129, 147, 0.86);
  border: none;
  color: #fff;
  margin-right: 1px;
}
