<div>
    <!--<div class="icon-arrow-left-big icon-m" ng-click="$navigation.go('/blog')"
         style="position: absolute;margin-left: 30px;margin-top: 10px;"></div>-->
    <div class="text-center space xl top bottom">
        <div class="title-input-wrapper text-space m all blue-grey-400">
            <input type="text" placeholder="New Title" class="font-l title-input"/>
        </div>
    </div>
    <div class="text-center text-space l all text-editor-wrapper">
        <text-angular ng-model="blogPostDraft.content"></text-angular>
    </div>
</div>